doctype html
html
	body
		if oneUser
			form(method="POST" action="/debug/updateUser")
				input(type="hidden", name="oneUser[_id]", value="#{oneUser._id}")
				.form-group
					laber(for="inputTitle") account
					input(type="text" name="oneUser[account]" value="#{oneUser.account}")
				.form-group
					laber(for="inputTitle") name
					input(type="text" name="oneUser[name]" value="#{oneUser.name}")
				.form-group
					laber(for="inputTitle" ) password
					input(type="text" name="oneUser[password]" value="#{oneUser.password}")
				.form-group
					laber(for="inputTitle" ) phoneNum
					input(type="text" name="oneUser[phoneNum]" value="#{oneUser.phoneNum}")
				.form-group
					laber(for="inputTitle" ) sex
					input(type="text" name="oneUser[sex]" value="#{oneUser.sex}")
				.form-group
					laber(for="inputTitle" ) realName
					input(type="text" name="oneUser[realName]" value="#{oneUser.realName}")
				.form-group
					laber(for="inputTitle" ) avatar
					input(type="text" name="oneUser[avater]" value="#{oneUser.avater}")
				.form-group
					laber(for="inputTitle" ) location_x
					input(type="text" name="oneUser[location_x]" value="#{oneUser.location_x}")
				.form-group
					laber(for="inputTitle" ) location_y
					input(type="text" name="oneUser[location_y]" value="#{oneUser.location_y}")
				button(type="submit" style="margin:10px 0 0 135px") update
		else
			form(method="POST" action="/debug/addUser")
				.form-group
					laber(for="inputTitle") account
					input(type="text" name="user[account]")
				.form-group
					laber(for="inputTitle") name
					input(type="text" name="user[name]")
				.form-group
					laber(for="inputTitle" ) password
					input(type="text" name="user[password]")
				.form-group
					laber(for="inputTitle" ) phoneNum
					input(type="text" name="user[phoneNum]")
				.form-group
					laber(for="inputTitle" ) sex
					input(type="text" name="user[sex]")
				.form-group
					laber(for="inputTitle" ) realName
					input(type="text" name="user[realName]")
				.form-group
					laber(for="inputTitle" ) avatar
					input(type="text" name="user[avater]")
				.form-group
					laber(for="inputTitle" ) location_x
					input(type="text" name="user[location_x]")
				.form-group
					laber(for="inputTitle" ) location_y
					input(type="text" name="user[location_y]")
				button(type="submit" style="margin:10px 0 0 135px") add
			div 
				table
					thead
						tr
							th ID
							th account
							th name
							th password
							th phoneNum
							th sex
							th realName
							th avatar
							th location_x
							th location_y
							th menuList
							th orderList
							th update
							th delete
					tbody
						each item in user
							tr
								td #{item._id}
								td #{item.account}
								td #{item.name}
								td #{item.password}
								td #{item.phoneNum}
								td #{item.sex}
								td #{item.realName}
								td #{item.avatar}
								td #{item.location_x}
								td #{item.location_y}
								td #{item.menuList}
								td #{item.orderList}
								td: a(target="_blank", href="./updateUserPage?_id=#{item._id}") update
								td: a(target="_blank", href="./deleteUser?_id=#{item._id}") delete
